.header {
    display: grid;
    grid-template-columns: 1fr;
    background: #4242ea;
}

header h1 span {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    
}


.sidebar {
    background: #2d2d2d;
    color: white;
    text-align: center;
}


.main {
    background: #ececec;
    height: 750px;
    text-align: center;
    box-sizing: content-box;
    border: 2px solid red;
    padding: 15px;
}
  
.primary-content {
    display: grid;
    grid-template-columns: 3.5fr .5fr;
}

#search:hover {
    background:#ff0000;
}

a:hover {
    color: #FFFAFB;
} 

@media screen and (max-width: 360px) {
    .column {
      width: 100%;
      display: block;
    }
  }
 


