body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    background: #4242ea;
}

header h1 span {
    font-size: 18px;
    text-align: right;
}

#link {
    margin-left: 375px;
    font-size: 20px;
    color: aquamarine;
}

#link:hover {
    color: #FFFAFB;
}

.sidebar {
    background: #2d2d2d;
    color: white;
    text-align: center;
}

ol {
    color: blanchedalmond;
}

ul {
    color: blanchedalmond;
}

h3 {
   color: #efeaea; 
}

.main {
    background: #ececec;
    height: 750px;
    text-align: center;
    box-sizing: content-box;
    border: 2px solid red;
    padding: 15px;
}
  
.primary-content {
    display: grid;
    grid-template-columns: 3.5fr .75fr;
}

#search:hover {
    background:#ff0000;
}

a:hover {
    color: #FFFAFB;
} 

@media (max-width: 600px) {
    .primary-content {
        width: 100%;
        display: block;
    }
}
 


